<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxl.demo.mapper.DemoMapper">
    <select id="getList" parameterType="string" resultMap="resultList">
        select
        demo.`id` as `id`,
        demo.`user_name` as `user_name`
        from demo_user demo

    </select>
    <resultMap id="resultList" type="com.cxl.demo.entity.DemoDo">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>

    </resultMap>

</mapper>